*{
    box-sizing: border-box;
}
.create-page{
  
    display: flex;
    justify-content: center; 
}
.create-page-content{
    display: flex;
    align-items: center;
     flex-direction: column;
     /* background-color:#333333; */
  
     width:60%;
}
.title{
    width:100%;
    margin-top:30px;
   
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 2px 2px;

    padding: 10px 0;
    text-align: center;
}

.go-back{
    display: flex;
    
      background-color: whitesmoke;
        width:70%;
        text-align: center; 
        font-family: Roboto;
        font-size: 18px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.6;
        letter-spacing: normal;
        text-align: left;
        border-radius: 8px;
        margin-top:10px;
   
    }
    .data-box{
  
  border-radius: 8px;
        width:70%;
    }
    ::placeholder{
        text-align: left;
    }
    .go-back-logo{
        width: 48px;
        height: 48px;
        border-radius: 8px;
        background-color: #ebecf0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.goback-content{
   
    display: flex;
    width:85%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.goback-content-link{
    text-decoration: none;
    
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #5e6c84;
}
.goback-content-link:hover{
    color:#2684ff;
}

.publish{
   
    border-radius: 8px;
    border: solid 1px rgba(10, 10, 10, 0.15);
background-color: #2684ff;

 
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}


.cancel{
    border-radius: 8px;
   border:none;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #7a869a;
}
.cancel:hover{
    color:white;
    }


.buttons
{
    display:flex; 
    justify-content:flex-end;
}
button{
    width: 100px;
    height:25px;
    margin:5px;
}


input[type='text']{
    border:none;
    
}
.textarea{
    border:none;
width: 100%;
height:300px;
margin-top:5px;
}













    @media only screen and (max-width: 500px) {
        .go-back{
            width:93%;
        }
    
        .data-box{
            width:93%;
        }
    }

    @media only screen and (max-width: 600px) {
.goback-content{

 display: none;
}
    }