*{
    box-sizing: border-box;
}
.h1{
    background-color: tomato;
}
h3{
   margin:0.2px;
}

Link{
    color:white;
}
h1{
 
    font-family: Roboto;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #08090a;
 
}
 .read-page{
    display: flex;
    justify-content: center; 
  background-color: brown;
 
   
} 
.read-page-content{
    display: flex;
   align-items: center;
    flex-direction: column;
    background-color:#333333;
    border:4px;
    width:60%;
   
}

.read-page-create-new-post{
display: flex;
justify-content: center;
    border-radius: 8px;
    border: solid 2px #2684ff;
    background-color: #e9f2ff;
    width:70%;
    text-align: center; 
    
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: left;
    color: #2684ff;
}

.read-page-create-new-post-logo{
    width:40px;
    height: 40px;
    margin-top: 10px;
    margin-right:5px;
}
.title{
    width:100%;
    margin-top:30px;
    border: solid 2px #08090a;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 2px 2px;
    justify-content:center;
    align-items: center;
    padding: 10px 0;
}


.read-page-posts{
    background: yellow;
width:70%;
}
.read-page-posts-content{
    background-color: pink;
 margin: 20px 0;
}

.post{ 
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: solid 1px rgba(10, 10, 10, 0.15);
    padding:5px;
    margin: 5px 0;
}
.post-number{
    color: #657280;
    font-size:14px;
}

.post-title{
    font-size:18px;
}
.post-body{
    font-size: 16px;
}


.post-edit-view-delete{
    display: flex;
    justify-content: flex-end;
    padding:5px 0;
    background-color: wheat;
   
}
.post-edit{
   
    padding:3px 10px;
    border-radius: 4px;
    border: solid 1px #2684ff;
    background-color: #e9f2ff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #2684ff;
    margin:0 3px;
    text-decoration: none;
}
.post-delete{
    padding:2px 10px;
    border-radius: 4px;
    border: solid 1px #f44336;
    background-color: #ffebee;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: left;
    color: #f44336;
    margin:0 3px;
    text-decoration: none;
}
.post-view{
    padding:2px 10px;
    border-radius: 4px;
    background-color: #2684ff;
    border: solid 1px rgba(10, 10, 10, 0.15);
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.19;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin:0 3px;
    text-decoration: none;
}


@media only screen and (max-width: 500px) {
    .post-number{
        color: #657280;
        font-size:12px;
    }
    .post-edit-view-delete{
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100%;
    }
    .post-title{
        font-size:16px;
    }
    .post-body{
        font-size: 14px;
    }
.div-post-delete{
    margin:5px 0;
}
    .post-delete{
        padding:0px 41px;
        margin:0px 0px;
    }
    .div-post-edit{
        margin:5px 0;
        
    }
    .post-edit{
        padding:0px 50px;
        margin:0px 0px; 
    }

    .div-post-view{
        margin:5px 0;
       
    }
    .post-view{
        padding:0px 45px;
        margin:0px 0px; 
    }
    .read-page-content{
        width:93%;
    }
    .read-page-posts{
        width:93%;
    }
    .read-page-create-new-post{
        width:93%;
    }
}